.sat-list {
  max-height: 200px;
  overflow-y: auto;
}

.item-subTitle {
  display: inline-block;
  margin-left: 0.75rem;
  font-size: 0.75rem;
  font-weight: 400;
}

.ant-avatar > img {
  animation-name: item-icon-spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50%;
}

@keyframes item-icon-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}