.header-logo {
  height: 60px;
  width: 60px;
  margin: 0 0.5rem;
}

a { margin: 0 0.5rem; }

.gmail { color: #4da8da }

i { color: #4da8da; }

i:hover { 
  color: #eefbfb !important;
  font-size: large;
}